@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 300;
    color: #303030;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    color: 	#181818;
}
/* To change this logo id later to the actual MND logo */
#logo {
    float: left;
}

#menu {
    font-size: 150%;
    margin-right: 50px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    margin-right: 25px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* To change this border bottom color to white later once blue background added */
#menu a:hover {
    border-bottom: solid 5px;
    border-bottom-color: gold;
}

.active {
    border-bottom: solid 5px;
    border-bottom-color: gold;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/mnd-hero-original.jpg) no-repeat center center;
    background-size: cover;
    clear: both;
    padding-bottom: 10px;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#text-box, #text-box h2 {
    color: gold;
}
#text-box {
    font-size: 140%;
    font-family: Roboto, sans-serif;
    text-align: center;
    width: 300px;
    height: 150px;
    padding-top: 30px;
    background-color: rgba(0, 89, 255, 0.6);
    bottom: 50px;
    left: 50px;
    position: absolute;
}

#left-text {
    height: 400px;
    width: 66%;
    padding-top: 40px;
    float: left;
    text-align: center;
    padding-left: 10px;
}

#left-text h1 {
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
#left-text h2 {
    padding-top: 80px;
}

#support-section {
    width: 30%;
    float: left;
    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
}

#information-section {
    width: 30%;
    float: right;
    background-color: yellow;
    padding-left: 10px;
    padding-right: 10px;
}

#care-section {
    width: 30%;
    margin: 0 auto;
    background-color: silver;
    padding-left: 10px;
    padding-right: 10px;
}

/*to target this later to center these sections */
#left-text, div {
    display: inline-block;
    width: 66%;
    height: 360px;
}

#left-text, p {
    padding-right: 10px;
    padding-top: 20px;
}

#right-text {
    height: 380px;
    width: 30%;
    padding-top: 60px;
    float: right;
    text-align: center;
    line-height: 60px;
    background-color: green;

}

#right-text h1 {
    text-transform: uppercase;
}

#footer {
    clear: both;
}


